<div class="cards container">
  <div class="card">
    <img src="../../../assets/images/free-car.svg" alt="car icon" />
    <div>
      <h5>Free Shipping</h5>
      <p>Free Shipping world wide</p>
    </div>
  </div>
  <div class="card">
    <img src="../../../assets/images/service.svg" alt="service icon" />
    <div>
      <h5>24 x 7 Service</h5>
      <p>Online Service For 24 x 7</p>
    </div>
  </div>
  <div class="card">
    <img src="../../../assets/images/pay.svg" alt="pay icon" />
    <div>
      <h5>Online Pay</h5>
      <p>Online Payment Avaible</p>
    </div>
  </div>
  <div class="card">
    <img src="../../../assets/images/return.svg" alt="return icon" />
    <div>
      <h5>100% Original</h5>
      <p>100% Money Back</p>
    </div>
  </div>
</div>
