.container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  gap: 20px;
  .left-side {
    padding-left: 60px;
    padding-top: 30px;
    background-image: url("https://s3-alpha-sig.figma.com/img/dd44/bba7/797e14e24bedb0ca3c646ce8bbe247df?Expires=1719187200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=AXzt0f3Co34A-M6aAmMkuT634YEv9OEj5rYihjMD3tW8QYwHqPxBufJVqfcMPeAiXgKQwlyl3-liYmwq97NZay7SdYKiWGuxXovHpf766xj4Iv9jeQY1MUYuLtZJ6iIor3vzWk-CnaRWxHPb3lKfK6QvBv39NIm9vzdFOCbkAanCa04HeJ6AtQLAxdZyFezq2o9WfYcvj7o2rAtK3rsN~JXOg5Jiax5fuowzz3PV7ftrdBqAtvYuPzobvNuAWJzEry5uAWVT~MWtwurYkitmOz4CmgXocZtfGfXBq9RMNscqp-R10axwnqw7JAOGggiGFaXWOi2WvxRxrZDzmSa02g__");
    width: 800px;
    height: 597px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    h1 {
      font-size: 42px;
      font-weight: 600;
      line-height: 68px;
      color: #4a5568;
    }
    .coloured {
      color: #417394;
      border-bottom: 2px solid #ffa53b;
      width: fit-content;
    }
  }
  .right-side {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-image: url("https://s3-alpha-sig.figma.com/img/c41e/ec41/57033f0aaced642dcfa8cbf53601c7b1?Expires=1719187200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=qoZbG7rTPPM~FbmYm0SXd5DXXS9Xa6DgBTQ0x4E1R5JS8v3DDcek5YosaGjBsLnliWVggBu3hr6JzHy1hupm1ytI9PGU-ME7LMgUGI3l4XIbxK649iJ6BLSZv8pegLFPk3TCE3khGdb0LIJpOXSf0rlR3thYIcN06TIo6EtlVMREripnCGvlii9d5q02XD6lQMXktQ2KWqyIb-FjzgScbjybIASsfvpk6QMeasV2kmP0ZWtKT-9flaVgftlmiKByn~Gsd5FmkD5umeHERiy9NqyNEEMOcYMtSbwsyfbclh9Cn9KNU-iAPm2CP13Q32pzYafkNt-5mOuSzek5FQexSA__");
    background-size: cover;
    background-position: center;
    width: 380px;
    height: 597px;
    border-radius: 10px;
    .exclusive {
      font-family: Kaushan Script, sans-serif;
      font-size: 50px;
      font-weight: 400;
      line-height: 51px;
      color: #417394;
    }
    .orange {
      background-color: #ffa53b;
      padding: 2px 13px;
      width: max-content;
      h2 {
        color: white;
        background-size: contain;
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
      }
    }
    @media (max-width: 900px) {
      display: none;
    }
  }
  button {
    margin-top: 24px;
    color: #4a5568;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    width: 180px;
    display: inline-block;
    padding: 15px 30px;
    background-color: transparent;
    color: #4a5568;
    border: 1px solid #4a5568;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
  }
  button::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #4a5568;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}
