.container {
  margin-bottom: 50px;
  .img-box {
    border-radius: 10px;
    padding: 102px;
    padding-left: 220px;
    margin: 50px 0;
    background-image: url("https://s3-alpha-sig.figma.com/img/2fde/f600/c3b3f1cc5e7a3a06eee29ce5a936004c?Expires=1719187200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=UHr8XZKPMQ-Ebya9vZG-ohjhU2UpkcYgJU7GIPVlhnlpF-YpPF7AqgGz71DgS7y5WdEBTS04OhbdrSa8NsJz76vSnrKlR38qzFpoB8HJF7O0Kvm0pp~Z4W2AUNshZqJjpPIUFjll8UMK8bQ1ygo-o7EAaSgnPawsuVD05BqlpGmxbCZksSryomeQRe2fr5wiQkrt~1okEkKxT9dnkGOTKOUg6AcA-MubqHTpEcr~njgJ1rhkxT7vd8r6TBE6oPDmZDQNuyZ1h2GHnrvLt1wcl7RD4ggSgiCvCoxGTUIlEg2RCJcnV~xqcD-9Uzymb3nTRsArHOu~Mo5aj6H8siNT3w__");
    background-repeat: no-repeat;
    h3 {
      font-weight: 400;
      font-size: 22px;
      line-height: 30px;
      color: #ffb321;
      margin-bottom: 16px;
    }
    h2 {
      font-weight: 600;
      font-size: 45px;
      line-height: 45px;
      color: #4a5568;
      margin-bottom: 10px;
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #4a5568;
    }
  }
  .best-seller {
    h2 {
      font-weight: 700;
      font-size: 28px;
      line-height: 28px;
      color: rgba(34, 34, 34, 1);
      margin-bottom: 15px;
    }
    p {
      color: #4a5568;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
    .best-card-container {
      margin-top: 25px;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      gap: 20px;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      @media (max-width: 1220px) {
        justify-content: space-around;
      }
      .best-box {
        width: 350px;
        border: 1px solid rgba(74, 85, 104, 0.3);
        border-radius: 5px;
        padding: 15px;
        .card {
          display: flex;
          gap: 20px;
          div {
            display: flex;
            flex-direction: column;
            gap: 8px;
            border-bottom: 1px solid rgba(74, 85, 104, 0.3);
            padding: 10px;
            width: 100%;
          }
          .last-card {
            border-bottom: none;
          }
        }
      }
    }
  }
}
