<div class="container">
  <div class="img-box">
    <h3>Best of Collections</h3>
    <h2>Home Decor LookBook 2022</h2>
    <p>
      In publishing and graphic design, Lorem ipsum is a placeholder text
      commonly used to demonstrate.
    </p>
  </div>
  <div class="best-seller">
    <h2>Our best Seller</h2>
    <p>A virtual assistant collects the products from your list</p>
    <div class="best-card-container">
      <div class="best-box">
        <div class="card">
          <img
            src="../../../assets/images/best-sellers/deer.svg"
            alt="deer img"
          />
          <div>
            <h3>Home Decor Lucky Deer Family</h3>
            <span>500 G</span>
            <span>$ 10.00</span>
          </div>
        </div>
        <div class="line"></div>
        <div class="card">
          <img
            src="../../../assets/images/best-sellers/potato.svg"
            alt="deer img"
          />
          <div>
            <h3>potato</h3>
            <span>500 G</span>
            <span>$ 10.00</span>
          </div>
        </div>
        <div class="line"></div>
        <div class="card">
          <img
            src="../../../assets/images/best-sellers/coral.svg"
            alt="deer img"
          />
          <div>
            <h3>Coral Bean Bag Chair</h3>
            <span>500 G</span>
            <span>$ 10.00</span>
          </div>
        </div>
        <div class="line"></div>
        <div class="card">
          <img
            src="../../../assets/images/best-sellers/elstone.svg"
            alt="deer img"
          />
          <div class="last-card">
            <h3>Elstone Home White Colour</h3>
            <span>500 G</span>
            <span>$ 10.00</span>
          </div>
        </div>
      </div>
      <div class="best-box">
        <div class="card">
          <img
            src="../../../assets/images/best-sellers/deer.svg"
            alt="deer img"
          />
          <div>
            <h3>Home Decor Lucky Deer Family</h3>
            <span>500 G</span>
            <span>$ 10.00</span>
          </div>
        </div>
        <div class="line"></div>
        <div class="card">
          <img
            src="../../../assets/images/best-sellers/potato.svg"
            alt="deer img"
          />
          <div>
            <h3>potato</h3>
            <span>500 G</span>
            <span>$ 10.00</span>
          </div>
        </div>
        <div class="line"></div>
        <div class="card">
          <img
            src="../../../assets/images/best-sellers/coral.svg"
            alt="deer img"
          />
          <div>
            <h3>Coral Bean Bag Chair</h3>
            <span>500 G</span>
            <span>$ 10.00</span>
          </div>
        </div>
        <div class="line"></div>
        <div class="card">
          <img
            src="../../../assets/images/best-sellers/elstone.svg"
            alt="deer img"
          />
          <div class="last-card">
            <h3>Elstone Home White Colour</h3>
            <span>500 G</span>
            <span>$ 10.00</span>
          </div>
        </div>
      </div>
      <div class="best-box">
        <div class="card">
          <img
            src="../../../assets/images/best-sellers/deer.svg"
            alt="deer img"
          />
          <div>
            <h3>Home Decor Lucky Deer Family</h3>
            <span>500 G</span>
            <span>$ 10.00</span>
          </div>
        </div>
        <div class="line"></div>
        <div class="card">
          <img
            src="../../../assets/images/best-sellers/potato.svg"
            alt="deer img"
          />
          <div>
            <h3>potato</h3>
            <span>500 G</span>
            <span>$ 10.00</span>
          </div>
        </div>
        <div class="line"></div>
        <div class="card">
          <img
            src="../../../assets/images/best-sellers/coral.svg"
            alt="deer img"
          />
          <div>
            <h3>Coral Bean Bag Chair</h3>
            <span>500 G</span>
            <span>$ 10.00</span>
          </div>
        </div>
        <div class="line"></div>
        <div class="card">
          <img
            src="../../../assets/images/best-sellers/elstone.svg"
            alt="deer img"
          />
          <div class="last-card">
            <h3>Elstone Home White Colour</h3>
            <span>500 G</span>
            <span>$ 10.00</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
