.container {
  margin: 50px auto;
  h2 {
    color: #222222;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 20px;
  }
  p {
    color: #4a5568;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 30px;
  }
  .cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 17px;
    .card {
      padding: 25px 33px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 12px;
      background-color: #f8f8f8;
      border-radius: 5px;
      width: 156px;
      cursor: pointer;
    }
  }
}
.bg-active {
  background-color: #417394 !important;
  transition: 1s ease-in;
  color: #f8f8f8;
}
