<div class="container">
  <h2>Bowse by Categories</h2>
  <p>Top Categories Of The Week</p>
  <div class="cards">
    <div class="card" routerLink="decoration" routerLinkActive="bg-active">
      <img
        src="../../../assets/images/categories/decorations.svg fill.svg"
        alt="decorations icon"
      />
      <h3>Decorations</h3>
    </div>
    <div class="card" routerLink="bed-linen" routerLinkActive="bg-active">
      <img
        src="../../../assets/images/categories/pillows.svg.svg"
        alt="pillow icon"
      />
      <h3>Bed linen</h3>
    </div>
    <div class="card" routerLink="cushion" routerLinkActive="bg-active">
      <img
        src="../../../assets/images/categories/cushions.svg.svg"
        alt="cushions icon"
      />
      <h3>Cushions</h3>
    </div>
    <div class="card" routerLink="cookware" routerLinkActive="bg-active">
      <img
        src="../../../assets/images/categories/bakeware.svg.svg"
        alt="Blankets icon"
      />
      <h3>Cookware</h3>
    </div>
    <div class="card" routerLink="gift" routerLinkActive="bg-active">
      <img
        src="../../../assets/images/categories/gift.svg.svg"
        alt="gift icon"
      />
      <h3>Gifts</h3>
    </div>
    <div class="card" routerLink="towel" routerLinkActive="bg-active">
      <img
        src="../../../assets/images/categories/sleepware.svg.svg"
        alt="sleepware icon"
      />
      <h3>towels</h3>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
